/* Full Page Style */

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
background-color: #f4f9ff;
;
}


.inter-user {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Shared Styles */
.primary-color{
    color:#4E47FF ;
}


.btn-universal{  
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color:#4E47FF ; 
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

/* .btn-universal:hover{

} */

.text-color {
    color: #252432;
}

.text-color-2{
    color: rgba(37, 36, 50, 0.5);
}





                    /* Header Style */

header {
    background-image: url(Assets/Hero-bg.png);
    background-position: center;
    margin-bottom: 115px;
    
}



                    /* Navbar */
nav {
    display: flex;
    margin: 0 150px 160px 150px;
    padding: 51px 0;
    justify-content: space-between;
}

.site-logo {
    font-size: 34px;
    font-weight: 900;
}

.banner {
    text-align: center;
    padding-bottom: 150px;
}

.banner-slogan {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}




                    /* Section--container Styles */

.container {
    margin: 0 auto;
    max-width: 1140px;

}

.section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
}

.sub-container{
    width: 515px;
}

.section-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}

.section-discription{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 23px;

}

.fig-img{
    border-radius: 48px;
}


.users-section{
    padding: 50px 142px;
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    margin-bottom: 137px;
    border-radius: 24px;
}

.users-section-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}

.user-detailes{
    display: flex;
    justify-content: space-between;
}

.user-detailes h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.user-detailes p {
    color: rgba(0, 0, 0, 0.5);
}



                    /* Users Reviews  */

.users-review h3 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

.review-container {
    display: flex;
    gap: 20px;
    margin-bottom: 137px;
}
.user-review{
    padding: 24px;
    background-color: white;
    border: 1px solid #F2EDED;
    border-radius: 14px;
}


.user-review img{
    margin-bottom: 24px;
}

.user-review h4 {
    font-size: 22px;
    color: #1E1E1E;
    font-weight: bold;
    margin-bottom: 8px;
}

.user-review > p{
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 400;
}

.review-discription {
    margin-bottom: 24px;
}


.review {
    display: flex;
    gap: 12px;
}


.reviewr-img {
    border-radius: 50px;
}

.reviewer-name {
    color: #757575;
    font-weight: 500;
}

.review-date{
    color: #B3B3B3;
    font-weight: 500;
}



/* Focus Section Style */

.focus-section{
    background-color: white;
    border-radius: 14px;
    text-align: center;
    padding: 71px 150px;
    margin-bottom: 90px;
}

.focus-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.focus-discription{
    font-size: 18px;
    margin-bottom: 20px;
    color:  rgba(0, 0, 0, 0.5);
}

.larg-img{
    margin: 20px 0;
    border-radius: 48px;
}

